---
// Component Imports
import Layout from '../../layouts/main.astro';

import Articles from '../../components/links/articles.astro';

const posts = await Astro.glob('./*.md');

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<Layout>
  <Articles posts={posts} />
  <p>
    Soon to come: functional preformace testing with cypress, neovim, GARDBS,
    crypto money glitch, splash & procedurally generated minesweeper
  </p>
</Layout>
