---
const columbs = 4;
---

<div class=`flex`>
  {
    Array.from({ length: columbs }, (_, i) => (
      <div class={`relative w-[1em]`}>
        <svg viewBox='0 0 15 35' xmlns='http://www.w3.org/2000/svg'>
          <line
            x1='0'
            x2='0'
            y1='0'
            y2='3em'
            stroke='#8000ff'
            stroke-width={`1.7em`}
            style={`
            stroke-dasharray: 3em;
            animation: dash ${
              0.3 + Math.random() / 2
            }s linear alternate infinite;
            `}
          />
        </svg>
      </div>
    ))
  }

  <style>
    @keyframes dash {
      from {
        stroke-dashoffset: 3em;
      }
      to {
        stroke-dashoffset: 6em;
      }
    }
  </style>
</div>
