---
import Layout from '../../layouts/main.astro';
import Link from '../../components/links/web.astro';
---

<Layout>
  <Link name='Besshø' url='hikes/besshø' r />
  <Link name='Rondeslottet' url='hikes/rondeslottet' r />
  <p>This is pictures from some of the hikes I've gone on.</p>
</Layout>
