---
import Layout from '../../layouts/main.astro';
import Articles from '../../components/links/articles.astro';

const posts = await Astro.glob('./*.md');
---

<Layout>
  <Articles posts={posts} />
  <p>This is just for me, but since you are here, welcome annyways! :)</p>
</Layout>
