---
const { posts } = Astro.props;
import Title from '../title.astro';
---


<Title title='Articles' />
<ul class="mb-5">
  {
    posts.map((post: any) => (
    <!-- prettier-ignore -->
      <li class='text-lg mb-1 hover:ml-[0.5em]'><p 
        class='inline'>❯ </p><a 
        href={post.url}><p 
        class='inline text-accent font-bold'>[</p><p 
        class='inline text-green-500'>{new Date(post.frontmatter.date).toLocaleDateString('en-UK')}</p><p 
        class='inline text-accent font-bold'> ~ </p><p 
        class='inline text-[#02ebfc] underline'>{post.frontmatter.title}</p><p 
        class='inline text-accent font-bold'>]</p>
        </a>
      </li>
    ))
  }
</ul>
