---
---

<div class={'my-3'}>
  <h1>My favorite books</h1>
  <div class='grid grid-cols-2'>
    <a class='m-1 hover:border-[1px] border-accent'>1</a>
    <a class='m-1 hover:border-[1px] border-accent'>2</a>
    <a class='m-1 hover:border-[1px] border-accent'>3</a>
    <a class='m-1 hover:border-[1px] border-accent'>4</a>
    <a class='m-1 hover:border-[1px] border-accent'>5</a>
    <a class='m-1 hover:border-[1px] border-accent'>6</a>
  </div>
</div>
