---
// Component Imports
import Layout from '../layouts/main.astro';
import welcome from '../../public/articles/welcome.json';
import Article from '../components/article';
import Stack from '../components/sidebar/stack';
import AstroLogo from '../components/links/astro.astro';
const path = Astro.url.pathname;

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<Layout>
  <p class='w-[80%] p-6'>
    Hi, and welcome to my small corner of the internett. I am generally
    intrested in things and have long needed a space to document my projects and
    thoughts. This will be that space. Also check out my friends pages under the
    'links' folder. \n\nThanks for stopping by!
  </p>
  <Stack path={path} /><AstroLogo />
</Layout>
