---
// Component Imports
import Layout from '../layouts/main.astro';
import Link from '../components/links/web.astro';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<Layout>
  <div>
    <p>Me, me, me, me!:</p>
    <div class='mb-6 pl-3'>
      <Link name='GitHub' url='github.com/GerhardGustavsen' />
      <Link
        name='LinkedIn'
        url='www.linkedin.com/in/gerhard-gustavsen-237146234/'
      />
      <Link
        name='Goodreads'
        url='www.goodreads.com/user/show/116468249-gerhard-gustavsen'
      />
      <Link name='Letterboxd' url='https://letterboxd.com/sensay1/films/' />
      <Link name='Spotify stats' url='stats.fm/gegu2902' />
    </div>
    <p>Friends of mine:</p>
    <div class='mb-6 pl-3'>
      <Link name='Isak' url='isak.me/' />
      <Link name='Nuutti' url='nuutti.no/' />
    </div>
    <p>Other cool websites</p>
    <div class='mb-6 pl-3'>
      <Link name='DanBall' url='dan-ball.jp/en/' />
      <Link name='Luke Smith' url='lukesmith.xyz/' />
      <Link name='Vitalik' url='vitalik.ca/' />
      <Link name='Hetland' url='folk.idi.ntnu.no/mlh/hetland_org/' />
      <Link name='Duckmouse' url='duckmouse.no/' />
      <Link name='Dvikan' url='dvikan.no/' />
      <Link name='Kognise' url='kognise.dev/' />
      <!-- <Link name='Court Doolittle' url='curtdoolittle.com/'/> -->
    </div>
  </div>
</Layout>
