---
import Layout from '../layouts/main.astro';
import Link from '../components/links/web.astro';
import Music from '../components/music/music.astro';
import Books from '../components/books/books.astro';
import Works from '../components/works/works.astro';
import Conta from '../components/contact/contact.astro';
---

<Layout>
  <img
    class='h-[15em] pr-3 sm:pb-1 pb-6 m-auto float-none sm:float-left'
    src='/images/me.jpg'
  />
  <p class='inline text-accent font-bold'>Hello World!</p>
  <p class='inline'>and welcome to my small corner of the internett!</p>
  <br />
  <br />
  <p class='text-justify'>
    My name is Gerhard. I am an inventor currently based in Trondheim. My dream
    is to be able to live of my inventions and make the world a little more fun,
    whatever that means. I constantly have to manny projects and little time. I
    still feel quite overwhelmed and cunfuced after becomming human. The shift
    from nothingness has been a bit harsh. I am qurius of where this life will
    take me, and what I'l get to see along the way.
  </p>
  <br />
  <p>This will be an acout of that jurney.</p>
  <p>Thanks for stopping by! ❤️</p>
  <br />
  <Link name='GitHub' url='github.com/GerhardGustavsen' />
  <Link
    name='LinkedIn'
    url='www.linkedin.com/in/gerhard-gustavsen-237146234/'
  />
  <Link name='Arealize' url='www.arealize.ai/' />
  <Link name='DuckMouse' url='duckmouse.no' />
  <Link
    name='Goodreads'
    url='www.goodreads.com/user/show/116468249-gerhard-gustavsen'
  />
  <Link name='Spotify stats' url='stats.fm/gegu2902' />
  <Link name='Instagram (unactive)' url='instagram.com/hanfyrengerhard' />

  <Conta />
  <Books />
  <Music />
</Layout>
