---
import Layout from '../layouts/main.astro';
import Link from '../components/links/web.astro';
---

<Layout>
  <img
    class='h-[15em] pr-3 sm:pb-1 pb-6 m-auto float-none sm:float-left'
    src='/src/images/me.jpg'
  />
  <p class='inline text-accent font-bold'>Hi!</p>
  <p class='inline'>and welcome to my small corner of the internett!</p>
  <br />
  <br />
  <p class='text-justify'>
    My name is Gerhard. I am a software developer currently based in Trondheim.
    I work with arealize to create a better way for architects to draw
    buildings. My dream is to become a profecional inventor, whatever that
    means. I constantly have to manny projects and to little time. I still feel
    quite overwhelmed and cunfuced after becomming human. I am qurius of where
    this jurnay will take me, and what il get to see along the way.
  </p>
  <br />
  <p>This will be an acout of that jurney, my jurney.</p>
  <p>Thanks for stopping by!</p>
  <br />
  <Link name='GitHub' url='github.com/GerhardGustavsen' />
  <Link
    name='LinkedIn'
    url='www.linkedin.com/in/gerhard-gustavsen-237146234/'
  />
  <Link name='Arealize' url='www.arealize.ai/' />
  <Link name='DuckMouse' url='duckmouse.no' />
  <Link
    name='Goodreads'
    url='www.goodreads.com/user/show/116468249-gerhard-gustavsen'
  />
</Layout>
