---
import Dir from './sidebar/dir.astro';
---

<div class='text-xl md:text-base'>
  <Dir url='/me' />
  <Dir url='/blog' />
  <Dir url='/images' />
  <Dir url='/novels' />
  <Dir url='/projects' />
  <Dir url='/literature' />
  <Dir url='/links' />
</div>
