---
import Dir from './sidebar/dir.astro';

let path = Astro.url.pathname;
---

<div class='text-xl md:text-base'>
  <Dir url='/me' />
  <Dir url='/blog' />
  <Dir url='/projects' />
  <Dir url='/images' />
  <Dir url='/novels' />
  <Dir url='/hikes' />
  <Dir url='/links' />
  {path.includes('/secret') && <Dir url='/secret' />}
</div>
