---
const { title } = Astro.props;
---

<div class='flex border-fgLight mb-3'>
  <div class='border-t-2 flex-1 translate-y-3'></div>
  <div class='text-lg mx-2'>{title}</div>
  <div class='border-t-2 flex-1 translate-y-3'></div>
</div>
