---
import Link from '../links/web.astro';
import Title from '../title.astro';
---

<div class='mt-3'>
  <Title title='Recomended works' />

  <p>
    This is not my own work, but rather intresting works by varius people that
    has shaped my philosophy and values in major ways.
  </p>
  <br />
  <Link name='Dialogisk' url='www.modernemedia.no/dialogisk/' /><br />
  <Link
    name="DON'T PANIC"
    url='www.gapminder.org/videos/dont-panic-the-facts-about-population/'
  /><br />
  <Link name='Grabby aliens' url='grabbyaliens.com/' /><br />
  <Link
    name='Its all about me'
    url='www.youtube.com/watch?v=dw6WVcU6T6E&list=LL&index'
  /><br />
  <Link name='The last question' url='/pdf/Issac_asimov.pdf' r={true} /><br />
  <Link name='Bitcoin whitepaper' url='/pdf/bitcoin.pdf' r={true} /><br />
  <Link
    name='Human Behavioral Biology'
    url='www.youtube.com/playlist?list=PL848F2368C90DDC3D'
  /><br />
  <Link name='What made Apollo a sucsess?' url='/pdf/apollo.pdf' r={true} /><br
  />
  <Link
    name='Breakdown of the bicameral Mind'
    url='www.youtube.com/watch?v=lgnMyF-o0sQ&list=PL1gANTl5seojSDya5hy85txd9e3L78pFV&index'
  /><br />
  <br />
  <p>
    The works below are more controversial. It therefore must be taken with a
    healthy dose sceptizism. However their ideas are intresing and it's good
    food for thought. It shows diffrent ways of thinking, and porvides good
    insigts into diffrent value systems.
  </p>
  <br />
  <Link
    name='Maps of meaning'
    url='www.youtube.com/playlist?list=PLsvFdgT3ETgAVZWj0faD0sDJhJh2NeZwe'
  /><br />
  <Link
    name='10 Taboo Questions'
    url='www.youtube.com/watch?v=ESD2XHeTxjA&t'
  /><br />
  <Link
    name="Industrial Society and It's Future"
    url='/pdf/kaczynski.pdf'
    r={true}
  /><br />
</div>
