---
// Component Imports
import Layout from '../../layouts/main.astro';
import Padding from '../../components/layout/padding';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<Layout>
  <Padding>
    <p>
      Soon to come: duckmouse, camper van, drone, Chrashgami, a indepth study of
      the 2 cycle motor
    </p>
    <a href='/2takter.pdf'>pdf</a>
  </Padding>
</Layout>
