---
const { url } = Astro.props;

let path = Astro.url.pathname;
const last = path.slice(-1);
if (last == '/') {
  path = path.slice(0, -1);
}

let style = 'pl-[10px] hover:ml-[0.5em]';
if (url == path)
  style =
    'bg-accent pl-[11em] hover:ml-[-9.5em] ml-[-10em] font-bold text-fgLight';
else if (path.includes(url)) style = 'pl-[10px] hover:ml-[0.5em] text-accent';
---

<div class={'pl-[10px] my-1 md:my-0'}>
  <a href={url} class={style + ' block '}>
    ❯ {url.slice(1)}
  </a>
  <slot />
</div>
