---
import Stack from '../stack.astro';
---

<div
  class='md:w-sbmd lg:w-sblg 2xl:w-sb2xl h-full absolute bg-bgDark flex-col justify-between text-fgDark hidden md:flex patternLight'
>
  <div>
    <a href='/'>
      <h1 class='2xl:text-3xl lg:text-center text-xl m-5 text-accent'>
        gerhard's page
      </h1>
    </a>
    <Stack />
  </div>
  <p class='text-center hidden md:block'>gergus.no - 2023</p>
</div>
