.article {
  font-family: Inter var, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;

  & > p {
    margin-bottom: 1em;
    text-align: justify;

    & > a {
      color: #02ebfc;
      &:hover {
        text-decoration: underline;
      }
    }

    & > img {
      padding: 1em;
      padding-top: 0;
      max-height: 30em;
      float: left;
      margin: auto;

      @media (max-width: 40em) {
        float: none;
      }
    }
  }

  & > h2 {
    font-size: large;
    border-width: 0 0px 2px 0px;
    margin-bottom: 1em;
  }

  & > h3 {
    font-weight: bold;
  }

  & > ul {
    margin-bottom: 1em;
    padding-left: 2em;
    & > li {
      list-style-type: disc;
      & > a {
        color: #02ebfc;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  & > ol {
    margin-bottom: 1em;
    padding-left: 2em;
    & > li {
      list-style-type: upper-roman;
      & > a {
        color: #02ebfc;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  & > table {
    font-size: small;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}
