---
import './blog.scss';
const { frontmatter } = Astro.props;
const path = frontmatter.url
  .split('/')
  .filter((entry: string) => entry.trim() !== '');
const filename = path[path.length - 1];
---

<div class='blog'>
  <div class='text-lg'>{frontmatter.title}</div>
  <slot />
  <div>
    <p
      class='border-fgLight border-t-[1px] mb-6 mt-[0.8em] pt-[0.2em] text-right'
    >
      {new Date(filename).toLocaleDateString('en-UK')}
    </p>
  </div>
</div>
