---
import './main.scss';
import Breadcrumbs from '../components/breadcrumbs/breadcrumbs.astro';
import Sidebar from '../components/sidebar/sidebar.astro';
const path = Astro.url.pathname;
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
  </head>
  <body class='m-0 p-0 bg-bgLight text-fgLight patternDark'>
    <main>
      <div class='md:border-[1px] h-full w-full absolute border-accent md:flex'>
        <Sidebar path={path} />
        <div
          class={`md:ml-sbmd lg:ml-sblg 2xl:ml-sb2xl flex-1 overflow-y-scroll h-full`}
        >
          <Breadcrumbs path={path} />
          <div class='lg:w-[750px] 2xl:w-[830px] p-6'>
            <slot />
          </div>
        </div>
      </div>
    </main>
  </body>
  <script src='https://tinylytics.app/embed/habMEfUDnajdp2iEbNPx.js' defer
  ></script>
</html>
