---
import '../styles/glob.scss';
import Breadcrumbs from '../components/breadcrumbs/breadcrumbs.astro';
import Sidebar from '../components/sidebar';
const path = Astro.url.pathname;
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <style>
      html,
      body {
        font-family: 'Courier New', monospace, system-ui;
      }
    </style>
  </head>
  <body class='m-0 p-0 bg-bgLight text-fgLight patternDark'>
    <main>
      <div class='md:border-[1px] h-full w-full absolute border-accent md:flex'>
        <Breadcrumbs path={path} />
        <Sidebar path={path} />
        <div class={`md:ml-sbmd lg:ml-sblg 2xl:ml-sb2xl flex-1 p-6`}>
          <div class='lg:w-[750px] 2xl:w-[830px]'>
            <slot />
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
